
@{
    ViewBag.Title = "Index";
}
<br />
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-file-text fa-fw"></i>
            Nueva Factura
        </div>
        <div class="panel-body">
        </div>
    </div>
</div>
